
div.jumbotron{background-color: rgba(236, 151, 31, 0.53);}

h1.display-3{font-size: 3rem;}

h1.definition{font-size: 2rem;}

div.app-image{ display:inline} 
div.space1{ display:inline} 
div.designer{ display:inline} 
div.space2{ display:inline} 
div.copyright{ display:inline} 


